<a href="https://colab.research.google.com/github/manhanton/test_15June/blob/main/Model_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
print(pd.__version__)

1.3.5

In [13]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [14]:
df = pd.read_csv("/content/drive/MyDrive/test_20June.csv",index_col="Date")
df.head()

,NASDAQCOM,BOGMBASEW,DFII10,WALCL,VIXCLS,DGS10,DGS2,BAMLHYH0A0HYM2TRIV,BAMLH0A0HYM2,T5YIE,...,macd,macd_diff,macd_signal,Strategy_SMA,1m_future_close,1m_close_future_pct,2m_future_close,2m_close_future_pct,3m_future_close,3m_close_future_pct
Date,,,,,,,,,,,,,,,,,,,,,
08/06/2010,2170.57,2019365.0,1.29,2336216.0,33.70,3.18,0.74,704.88,7.27,1.62,...,-47.565715,-2.580976,-44.984739,-1,2093.88,-0.035332,2254.70,0.038759,2153.63,-0.007804
09/06/2010,2158.85,2007579.0,1.28,2331529.0,33.73,3.20,0.74,704.59,7.26,1.63,...,-50.353409,-4.294937,-46.058473,-1,2159.47,0.000287,2295.36,0.063233,2119.97,-0.018010
10/06/2010,2218.71,2007579.0,1.35,2331529.0,30.57,3.33,0.79,703.55,7.19,1.68,...,-47.188516,-0.904034,-46.284482,-1,2175.40,-0.019520,2283.52,0.029211,2114.03,-0.047181
11/06/2010,2243.60,2007579.0,1.29,2331529.0,28.79,3.24,0.75,704.01,7.27,1.65,...,-42.185611,3.279097,-45.464707,-1,2196.45,-0.021015,2303.57,0.026729,2176.84,-0.029756
14/06/2010,2243.96,2007579.0,1.31,2331529.0,28.58,3.28,0.77,705.72,7.16,1.69,...,-37.756490,6.166574,-43.923064,-1,2198.36,-0.020321,2293.06,0.021881,2200.01,-0.019586

In [15]:
feature_name = list(df.columns)
for i in range(len(feature_name)):
  print(i,feature_name[i])

def get_features_name(df):
  x = input().split(" ") # 0 
  names = []
  for j in x:
    # df_sel = df[names.append(feature_name[int(j)])]
    names.append(feature_name[int(j)])
  return df[names]

0 NASDAQCOM
1 BOGMBASEW
2 DFII10
3 WALCL
4 VIXCLS
5 DGS10
6 DGS2
7 BAMLHYH0A0HYM2TRIV
8 BAMLH0A0HYM2
9 T5YIE
10 MHHNGSP
11 VXXLECLS
12 return
13 direction
14 lag_1
15 lag_2
16 lag_3
17 lag_4
18 lag_5
19 lag_6
20 lag_7
21 lag_8
22 lag_9
23 lag_10
24 lag_11
25 lag_12
26 lag_13
27 lag_14
28 lag_15
29 lag_16
30 lag_17
31 lag_18
32 lag_19
33 lag_20
34 bb_bbm
35 bb_bbh
36 bb_bbl
37 macd
38 macd_diff
39 macd_signal
40 Strategy_SMA
41 1m_future_close
42 1m_close_future_pct
43 2m_future_close
44 2m_close_future_pct
45 3m_future_close
46 3m_close_future_pct

In [16]:
features_x = get_features_name(df)
features_x.head()

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40

,NASDAQCOM,BOGMBASEW,DFII10,WALCL,VIXCLS,DGS10,DGS2,BAMLHYH0A0HYM2TRIV,BAMLH0A0HYM2,T5YIE,...,lag_18,lag_19,lag_20,bb_bbm,bb_bbh,bb_bbl,macd,macd_diff,macd_signal,Strategy_SMA
Date,,,,,,,,,,,,,,,,,,,,,
08/06/2010,2170.57,2019365.0,1.29,2336216.0,33.70,3.18,0.74,704.88,7.27,1.62,...,-0.012643,0.020928,0.000270,2267.5675,2408.424175,2126.710825,-47.565715,-2.580976,-44.984739,-1
09/06/2010,2158.85,2007579.0,1.28,2331529.0,33.73,3.20,0.74,704.59,7.26,1.63,...,-0.019842,-0.012643,0.020928,2254.2590,2382.858297,2125.659703,-50.353409,-4.294937,-46.058473,-1
10/06/2010,2218.71,2007579.0,1.35,2331529.0,30.57,3.33,0.79,703.55,7.19,1.68,...,0.003145,-0.019842,-0.012643,2245.4765,2357.531567,2133.421433,-47.188516,-0.904034,-46.284482,-1
11/06/2010,2243.60,2007579.0,1.29,2331529.0,28.79,3.24,0.75,704.01,7.27,1.65,...,-0.015704,0.003145,-0.019842,2240.3140,2342.270459,2138.357541,-42.185611,3.279097,-45.464707,-1
14/06/2010,2243.96,2007579.0,1.31,2331529.0,28.58,3.28,0.77,705.72,7.16,1.69,...,-0.008152,-0.015704,0.003145,2234.8005,2322.440744,2147.160256,-37.756490,6.166574,-43.923064,-1

In [17]:
label = df[["1m_close_future_pct"]]
label.head()

            1m_close_future_pct
Date
08/06/2010            -0.035332
09/06/2010             0.000287
10/06/2010            -0.019520
11/06/2010            -0.021015
14/06/2010            -0.020321

In [8]:
from sklearn.preprocessing import *

# Split 

split_size = int(0.8*len(features_x)) 
X_train, y_train = features_x[:split_size], label[:split_size] 
X_test, y_test = features_x[split_size:], label[split_size:] 

# Scaler
scaler = MinMaxScaler()  
col_ = X_train.columns 
X_train = pd.DataFrame(scaler.fit_transform(X_train), index=X_train.index , columns = col_) 
X_test = pd.DataFrame(scaler.transform(X_test), index=X_test.index , columns = col_)

In [18]:
all_data_transform = pd.DataFrame(scaler.fit_transform(features_x), index=features_x.index , columns = features_x.columns) 
all_data_transform.head()

,NASDAQCOM,BOGMBASEW,DFII10,WALCL,VIXCLS,DGS10,DGS2,BAMLHYH0A0HYM2TRIV,BAMLH0A0HYM2,T5YIE,...,lag_18,lag_19,lag_20,bb_bbm,bb_bbh,bb_bbl,macd,macd_diff,macd_signal,Strategy_SMA
Date,,,,,,,,,,,,,,,,,,,,,
08/06/2010,0.005641,0.022322,0.961240,0.006123,0.333923,0.823529,0.224913,0.001518,0.541985,0.428986,...,0.510308,0.665247,0.569903,0.006691,0.011316,0.005904,0.594337,0.485812,0.588001,0.0
09/06/2010,0.004802,0.018699,0.957364,0.005420,0.334330,0.829721,0.224913,0.001187,0.540712,0.431884,...,0.477081,0.510308,0.665247,0.005717,0.009490,0.005826,0.591281,0.480612,0.586605,0.0
10/06/2010,0.009088,0.018699,0.984496,0.005420,0.291366,0.869969,0.242215,0.000000,0.531807,0.446377,...,0.583173,0.477081,0.510308,0.005075,0.007680,0.006400,0.594751,0.490899,0.586311,0.0
11/06/2010,0.010870,0.018699,0.961240,0.005420,0.267165,0.842105,0.228374,0.000525,0.541985,0.437681,...,0.496183,0.583173,0.477081,0.004697,0.006590,0.006766,0.600235,0.503589,0.587377,0.0
14/06/2010,0.010896,0.018699,0.968992,0.005420,0.264310,0.854489,0.235294,0.002477,0.527990,0.449275,...,0.531036,0.496183,0.583173,0.004293,0.005173,0.007417,0.605091,0.512349,0.589381,0.0

In [19]:
#all_data_transform.to_csv("transform_data.csv")

In [20]:
###############################################################
# import library

import pandas as pd
import numpy as np
from sklearn.linear_model import *
from sklearn.ensemble import *
from sklearn import metrics
from sklearn.preprocessing import *
from sklearn.feature_selection import *
from sklearn.model_selection import *
import matplotlib.pyplot as plt 

las = Lasso()
rf = RandomForestRegressor()
gb = GradientBoostingRegressor()

###############################################################

model_list = {
            'Lasso_Regression':{
                'estimator':las,
                'performance':''
            },
            'Random_Forest':{
                'estimator':rf,
                'performance':''
            },
            'Gradient_Bossting':{
                'estimator':gb,
                'performance':''
            }
        }

###############################################################

list_models = list(model_list.keys())
X = all_data_transform
y = label

for i in list_models:
  estimators = model_list[i]['estimator']
  model_fit = estimators.fit(X,y) # return object (estimator)
  model_list[i]['performance'] = model_fit.score(X,y)

for j in list_models:
  print("-----------------------------------\n")
  print(j,model_list[j]['performance'])

 # print(pd.Series(model_fit.coef_, index=X_train.columns))
 ###############################################################

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:43: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

-----------------------------------

Lasso_Regression 0.0
-----------------------------------

Random_Forest 0.9803382227016828
-----------------------------------

Gradient_Bossting 0.7460161094817869

In [24]:
!pip install git+https://github.com/rasbt/mlxtend.git.  # more general than git+git , git+ssh

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git+https://github.com/rasbt/mlxtend.git
  Cloning https://github.com/rasbt/mlxtend.git to /tmp/pip-req-build-norv5g70
  Running command git clone -q https://github.com/rasbt/mlxtend.git /tmp/pip-req-build-norv5g70
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend==0.20.0) (1.4.1)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend==0.20.0) (1.21.6)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend==0.20.0) (1.3.5)
Requirement already satisfied: scikit-learn>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend==0.20.0) (1.0.2)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend==0.20.0) (3.2.2)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend==0.20.0) (1.1.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend==0.20.0) (57.4.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend==0.20.0) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend==0.20.0) (1.4.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend==0.20.0) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend==0.20.0) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.0->mlxtend==0.20.0) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend==0.20.0) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend==0.20.0) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.2->mlxtend==0.20.0) (3.1.0)
Building wheels for collected packages: mlxtend
  Building wheel for mlxtend (setup.py) ... done
  Created wheel for mlxtend: filename=mlxtend-0.20.0-py2.py3-none-any.whl size=1590125 sha256=726bfdad7076cc550e5b8cd57df5e36113b1230e8589bc7ead9f01bfb03b6ea9
  Stored in directory: /tmp/pip-ephem-wheel-cache-4ki_szho/wheels/ba/fc/a6/4c433d93e0af26df116b3749f60920332a642e8f19a0769e01
Successfully built mlxtend
Installing collected packages: mlxtend
  Attempting uninstall: mlxtend
    Found existing installation: mlxtend 0.14.0
    Uninstalling mlxtend-0.14.0:
      Successfully uninstalled mlxtend-0.14.0
Successfully installed mlxtend-0.20.0

In [25]:
# Reading features from csv to DataFrame 

path_file = "/content/drive/MyDrive/transform_data.csv"
feature_df = pd.read_csv(path_file,index_col="Date")
feature_df.head()

# Reading label from csv to DataFrame

path_file = "/content/drive/MyDrive/test_20June.csv"
label_df = pd.read_csv(path_file,index_col="Date")
label_df = label_df[["1m_close_future_pct"]]

In [26]:
import joblib
import sys
sys.modules['sklearn.externals.joblib'] = joblib

In [30]:
from mlxtend.feature_selection import ExhaustiveFeatureSelector as EFS
from sklearn.ensemble import *

X = feature_df[["DFII10","DFII10","DGS10","DGS2"]]
y = label_df

rfr = RandomForestRegressor()

efs1 = EFS(rfr, 
           min_features=1,
           max_features=4,
           scoring='r2',
           print_progress=True,
           cv=4)

efs1 = efs1.fit(X, y)

print('Best accuracy score: %.2f' % efs1.best_score_)
print('Best subset (indices):', efs1.best_idx_)
print('Best subset (corresponding names):', efs1.best_feature_names_)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
Features: 10/10

Best accuracy score: -0.27
Best subset (indices): (2,)
Best subset (corresponding names): ('DGS10',)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.datasets import fetch_california_housing

data = fetch_california_housing()
X, y = data.data, data.target

lr = LinearRegression()

sfs = SFS(lr, 
          k_features=8, 
          forward=True, 
          floating=False, 
          scoring='neg_mean_squared_error',
          cv=10)

sfs = sfs.fit(X, y)
fig = plot_sfs(sfs.get_metric_dict(), kind='std_err')

plt.title('Sequential Forward Selection (w. StdErr)')
plt.grid()
plt.show()

In [31]:
all_data_transform.head()

,NASDAQCOM,BOGMBASEW,DFII10,WALCL,VIXCLS,DGS10,DGS2,BAMLHYH0A0HYM2TRIV,BAMLH0A0HYM2,T5YIE,...,lag_18,lag_19,lag_20,bb_bbm,bb_bbh,bb_bbl,macd,macd_diff,macd_signal,Strategy_SMA
Date,,,,,,,,,,,,,,,,,,,,,
08/06/2010,0.005641,0.022322,0.961240,0.006123,0.333923,0.823529,0.224913,0.001518,0.541985,0.428986,...,0.510308,0.665247,0.569903,0.006691,0.011316,0.005904,0.594337,0.485812,0.588001,0.0
09/06/2010,0.004802,0.018699,0.957364,0.005420,0.334330,0.829721,0.224913,0.001187,0.540712,0.431884,...,0.477081,0.510308,0.665247,0.005717,0.009490,0.005826,0.591281,0.480612,0.586605,0.0
10/06/2010,0.009088,0.018699,0.984496,0.005420,0.291366,0.869969,0.242215,0.000000,0.531807,0.446377,...,0.583173,0.477081,0.510308,0.005075,0.007680,0.006400,0.594751,0.490899,0.586311,0.0
11/06/2010,0.010870,0.018699,0.961240,0.005420,0.267165,0.842105,0.228374,0.000525,0.541985,0.437681,...,0.496183,0.583173,0.477081,0.004697,0.006590,0.006766,0.600235,0.503589,0.587377,0.0
14/06/2010,0.010896,0.018699,0.968992,0.005420,0.264310,0.854489,0.235294,0.002477,0.527990,0.449275,...,0.531036,0.496183,0.583173,0.004293,0.005173,0.007417,0.605091,0.512349,0.589381,0.0

In [33]:
# import library

import pandas as pd
import numpy as np
from sklearn.linear_model import *
from sklearn.ensemble import *
from sklearn import metrics
from sklearn.preprocessing import *
from sklearn.feature_selection import *
from sklearn.model_selection import *
import matplotlib.pyplot as plt 
from mlxtend.feature_selection import ExhaustiveFeatureSelector as EFS

las = Lasso()
rf = RandomForestRegressor()
gb = GradientBoostingRegressor()

###############################################################
model_list = {
            'Lasso_Regression':{
                'estimator':las,
                'performance':''
            },
            'Random_Forest':{
                'estimator':rf,
                'performance':''
            },
            'Gradient_Bossting':{
                'estimator':gb,
                'performance':''
            }
        }
list_models = list(model_list.keys())

In [ ]:
##############################################################
list_models = list(model_list.keys())
X = all_data_transform
y = label

def generate_feature(X,y):
  for i in list_models:
    estimators = model_list[i]['estimator']
    efs1 = EFS(estimators, 
            min_features=1,
            max_features=10,
            scoring='r2',
            print_progress=True,
            cv=4)

    efs1 = efs1.fit(X, y)
    print("EFS")
    print('Best accuracy score: %.2f' % efs1.best_score_)
    print('Best subset (indices):', efs1.best_idx_)
    print('Best subset (corresponding names):', efs1.best_feature_names_)
    ######### -------------------------- ###########
    sfs = SFS(estimators, 
              k_features=10, 
              forward=True, 
              floating=False, 
              scoring='r2',
              cv=4)

    sfs = sfs.fit(X, y)
    print("SFS")
    print(sbfs.k_feature_idx_)
    print('CV Score:')
    print(sbfs.k_score_)
# for j in list_models:
#   print("-----------------------------------\n")
#   print(j,model_list[j]['performance'])

In [ ]:
import argparse

import math
import argparse

parser = argparse.ArgumentParser(description='Calculate volume of a Cylinder')
# parser.add_argument('radius',type=int,help='Radius of a Cylinder')
# parser.add_argument('height',type=int,help='Height of a Cylinder')
# add -r , -H fpr specific the position 
# add metavar, required 
parser.add_argument('-r','--radius',type=int,metavar='',required=True,help='Radius of a Cylinder')
parser.add_argument('-H','--height',type=int,metavar='',required=True,help='Height of a Cylinder')
args = parser.parse_args()

def cylinder_volume(radius, height):
    vol = (math.pi) * (radius**2) * (height)
    return vol

if __name__ == '__main__':
    print(cylinder_volume(args.radius,args.height))

In [ ]:
# import library

import pandas as pd
import numpy as np
from sklearn.linear_model import *
from sklearn.ensemble import *
from sklearn import metrics
from sklearn.preprocessing import *
from sklearn.feature_selection import *
from sklearn.model_selection import *
import matplotlib.pyplot as plt 
from mlxtend.feature_selection import ExhaustiveFeatureSelector as EFS

las = Lasso()
rf = RandomForestRegressor()
gb = GradientBoostingRegressor()

###############################################################
model_list = {
            'Lasso_Regression':{
                'estimator':las,
                'performance':''
            },
            'Random_Forest':{
                'estimator':rf,
                'performance':''
            },
            'Gradient_Bossting':{
                'estimator':gb,
                'performance':''
            }
        }

import argparse

parser = argparse.ArgumentParser()
parser.add_argument('-m','--min-feature',type=int,metavar='',required=True,help='Min feature') 
parser.add_argument('-x','--max-feature',type=int,metavar='',required=True,help='Max feature')
args = parser.parse_args()


def generate_feature(X,y):
  for i in list_models:
    estimators = model_list[i]['estimator']
    efs1 = EFS(estimators, 
            min_features=1,
            max_features=10,
            scoring='r2',
            print_progress=True,
            cv=4)

    efs1 = efs1.fit(X, y)
    print("EFS")
    print('Best accuracy score: %.2f' % efs1.best_score_)
    print('Best subset (indices):', efs1.best_idx_)
    print('Best subset (corresponding names):', efs1.best_feature_names_)
    ######### -------------------------- ###########
    sfs = SFS(estimators, 
              k_features=10, 
              forward=True, 
              floating=False, 
              scoring='r2',
              cv=4)

    sfs = sfs.fit(X, y)
    print("SFS")
    print(sbfs.k_feature_idx_)
    print('CV Score:')
    print(sbfs.k_score_)



if __name__ == '__main__':

##############################################################
list_models = list(model_list.keys())
X = all_data_transform

def read_data(csv_files):
  # Reading features from csv to DataFrame 
  path_file = "/content/drive/MyDrive/transform_data.csv"
  feature_df = pd.read_csv(path_file,index_col="Date")
  feature_df.head()
  # Reading label from csv to DataFrame
  path_file = "/content/drive/MyDrive/test_20June.csv"
  label_df = pd.read_csv(path_file,index_col="Date")
  label_df = label_df[["1m_close_future_pct"]]



y = label

def generate_feature(X,y):
  for i in list_models:
    estimators = model_list[i]['estimator']
    efs1 = EFS(estimators, 
            min_features=1,
            max_features=10,
            scoring='r2',
            print_progress=True,
            cv=4)

    efs1 = efs1.fit(X, y)
    print("EFS")
    print('Best accuracy score: %.2f' % efs1.best_score_)
    print('Best subset (indices):', efs1.best_idx_)
    print('Best subset (corresponding names):', efs1.best_feature_names_)
    ######### -------------------------- ###########
    sfs = SFS(estimators, 
              k_features=10, 
              forward=True, 
              floating=False, 
              scoring='r2',
              cv=4)

    sfs = sfs.fit(X, y)
    print("SFS")
    print(sbfs.k_feature_idx_)
    print('CV Score:')
    print(sbfs.k_score_)
# for j in list_models:
#   print("-----------------------------------\n")
#   print(j,model_list[j]['performance'])