<a href="https://colab.research.google.com/github/manhanton/test_15June/blob/main/Model_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
print(pd.__version__)

1.3.5

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/test_20June.csv",index_col="Date")
df.head()

,NASDAQCOM,BOGMBASEW,DFII10,WALCL,VIXCLS,DGS10,DGS2,BAMLHYH0A0HYM2TRIV,BAMLH0A0HYM2,T5YIE,...,macd,macd_diff,macd_signal,Strategy_SMA,1m_future_close,1m_close_future_pct,2m_future_close,2m_close_future_pct,3m_future_close,3m_close_future_pct
Date,,,,,,,,,,,,,,,,,,,,,
08/06/2010,2170.57,2019365.0,1.29,2336216.0,33.70,3.18,0.74,704.88,7.27,1.62,...,-47.565715,-2.580976,-44.984739,-1,2093.88,-0.035332,2254.70,0.038759,2153.63,-0.007804
09/06/2010,2158.85,2007579.0,1.28,2331529.0,33.73,3.20,0.74,704.59,7.26,1.63,...,-50.353409,-4.294937,-46.058473,-1,2159.47,0.000287,2295.36,0.063233,2119.97,-0.018010
10/06/2010,2218.71,2007579.0,1.35,2331529.0,30.57,3.33,0.79,703.55,7.19,1.68,...,-47.188516,-0.904034,-46.284482,-1,2175.40,-0.019520,2283.52,0.029211,2114.03,-0.047181
11/06/2010,2243.60,2007579.0,1.29,2331529.0,28.79,3.24,0.75,704.01,7.27,1.65,...,-42.185611,3.279097,-45.464707,-1,2196.45,-0.021015,2303.57,0.026729,2176.84,-0.029756
14/06/2010,2243.96,2007579.0,1.31,2331529.0,28.58,3.28,0.77,705.72,7.16,1.69,...,-37.756490,6.166574,-43.923064,-1,2198.36,-0.020321,2293.06,0.021881,2200.01,-0.019586

In [ ]:
feature_name = list(df.columns)
for i in range(len(feature_name)):
  print(i,feature_name[i])

def get_features_name(df):
  x = input().split(" ")
  names = []
  for j in x:
    # df_sel = df[names.append(feature_name[int(j)])]
    names.append(feature_name[int(j)])
  return df[names]

0 NASDAQCOM
1 BOGMBASEW
2 DFII10
3 WALCL
4 VIXCLS
5 DGS10
6 DGS2
7 BAMLHYH0A0HYM2TRIV
8 BAMLH0A0HYM2
9 T5YIE
10 MHHNGSP
11 VXXLECLS
12 return
13 direction
14 lag_1
15 lag_2
16 lag_3
17 lag_4
18 lag_5
19 lag_6
20 lag_7
21 lag_8
22 lag_9
23 lag_10
24 lag_11
25 lag_12
26 lag_13
27 lag_14
28 lag_15
29 lag_16
30 lag_17
31 lag_18
32 lag_19
33 lag_20
34 bb_bbm
35 bb_bbh
36 bb_bbl
37 macd
38 macd_diff
39 macd_signal
40 Strategy_SMA
41 1m_future_close
42 1m_close_future_pct
43 2m_future_close
44 2m_close_future_pct
45 3m_future_close
46 3m_close_future_pct

In [ ]:
features_x = get_features_name(df)
features_x.head()

4 12 27

            VIXCLS    return    lag_14
Date
08/06/2010   33.70 -0.001532 -0.008152
09/06/2010   33.73 -0.005400 -0.041055
10/06/2010   30.57  0.027728  0.011357
11/06/2010   28.79  0.011218 -0.006949
14/06/2010   28.58  0.000160 -0.001175

In [ ]:
label = df[["1m_close_future_pct"]]
label.head()

            1m_close_future_pct
Date
08/06/2010            -0.035332
09/06/2010             0.000287
10/06/2010            -0.019520
11/06/2010            -0.021015
14/06/2010            -0.020321

In [ ]:
# Split 

split_size = int(0.8*len(x_)) 
X_train, y_train = x_[:split_size], y_[:split_size] 
X_test, y_test = x_[split_size:], y_[split_size:] 

# Scaler
scaler = MinMaxScaler()  
col_ = X_train.columns 
X_train = pd.DataFrame(scaler.fit_transform(X_train), index=X_train.index , columns = col_) 
X_test = pd.DataFrame(scaler.transform(X_test), index=X_test.index , columns = col_)

In [ ]:
###############################################################
# import library

import pandas as pd
import numpy as np
from sklearn.linear_model import *
from sklearn.ensemble import *
from sklearn import metrics
from sklearn.preprocessing import *
from sklearn.feature_selection import *
from sklearn.model_selection import *
import matplotlib.pyplot as plt 

las = Lasso()
rf = RandomForestRegressor()
gb = GradientBoostingRegressor()

###############################################################

model_list = {
            'Lasso_Regression':{
                'estimator':las,
                'performance':''
            },
            'Random_Forest':{
                'estimator':rf,
                'performance':''
            },
            'Gradient_Bossting':{
                'estimator':gb,
                'performance':''
            }
        }

###############################################################

list_models = list(model_list.keys())
X = features_x
y = label

for i in list_models:
  estimators = model_list[i]['estimator']
  model_fit = estimators.fit(X,y) # return object (estimator)
  model_list[i]['performance'] = model_fit.score(X,y)

for j in list_models:
  print("-----------------------------------\n")
  print(j,model_list[j]['performance'])

 # print(pd.Series(model_fit.coef_, index=X_train.columns))
 ###############################################################

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  import sys
/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

-----------------------------------

Lasso_Regression 0.0
-----------------------------------

Random_Forest 0.8587997752435903
-----------------------------------

Gradient_Bossting 0.24104280415214874