<a href="https://colab.research.google.com/github/manhanton/test_15June/blob/main/Model_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**select the label from input()**

In [1]:
import pandas as pd

In [3]:
print(pd.__version__)

1.3.5

In [11]:
df = pd.read_csv("/content/test_20June.csv",index_col="Date")

In [12]:
df.head()

,NASDAQCOM,BOGMBASEW,DFII10,WALCL,VIXCLS,DGS10,DGS2,BAMLHYH0A0HYM2TRIV,BAMLH0A0HYM2,T5YIE,...,macd,macd_diff,macd_signal,Strategy_SMA,1m_future_close,1m_close_future_pct,2m_future_close,2m_close_future_pct,3m_future_close,3m_close_future_pct
Date,,,,,,,,,,,,,,,,,,,,,
08/06/2010,2170.57,2019365.0,1.29,2336216.0,33.70,3.18,0.74,704.88,7.27,1.62,...,-47.565715,-2.580976,-44.984739,-1,2093.88,-0.035332,2254.70,0.038759,2153.63,-0.007804
09/06/2010,2158.85,2007579.0,1.28,2331529.0,33.73,3.20,0.74,704.59,7.26,1.63,...,-50.353409,-4.294937,-46.058473,-1,2159.47,0.000287,2295.36,0.063233,2119.97,-0.018010
10/06/2010,2218.71,2007579.0,1.35,2331529.0,30.57,3.33,0.79,703.55,7.19,1.68,...,-47.188516,-0.904034,-46.284482,-1,2175.40,-0.019520,2283.52,0.029211,2114.03,-0.047181
11/06/2010,2243.60,2007579.0,1.29,2331529.0,28.79,3.24,0.75,704.01,7.27,1.65,...,-42.185611,3.279097,-45.464707,-1,2196.45,-0.021015,2303.57,0.026729,2176.84,-0.029756
14/06/2010,2243.96,2007579.0,1.31,2331529.0,28.58,3.28,0.77,705.72,7.16,1.69,...,-37.756490,6.166574,-43.923064,-1,2198.36,-0.020321,2293.06,0.021881,2200.01,-0.019586

In [6]:
# import library

import pandas as pd
import numpy as np
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.svm import SVC
from sklearn.linear_model import Perceptron
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler 
from sklearn.feature_selection import RFE
from sklearn.feature_selection import RFECV
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
import matplotlib.pyplot as plt 


# Initializing the classifiers 

# lda = LinearDiscriminantAnalysis()
# qda = QuadraticDiscriminantAnalysis()
# gnb = GaussianNB()
# mnb = MultinomialNB()
# bnb = BernoulliNB()
knn = KNeighborsClassifier()
rf = RandomForestClassifier()
ada = AdaBoostClassifier()

In [7]:
classifiers = [knn,rf,ada]
classifier_names = ["KNeighbors","Random Forests","Ada Boost"] # "LDA","Quadratic","GaussianNB","MultinomialNB","BernoulliNB",

In [8]:
type(classifiers)

list

In [ ]:
"""
1. Model (list)
2. Df
________________________
0. x = # no of x

3

x1 = ss
x2 = ssss
x3 = aaa


1. x = input(), y = input(). # show column in command prompt

"""

In [ ]:
x = input().split(" ")

In [22]:
feature_name = list(df.columns)
for i in range(len(feature_name)):
  print(i,feature_name[i])


x = input().split(" ")
names = []
for j in x:
  df_sel = df.names.append(feature_name[int(j)])
  

# x = input()
# x = feature_name[int(x)]
# print(x)

0 NASDAQCOM
1 BOGMBASEW
2 DFII10
3 WALCL
4 VIXCLS
5 DGS10
6 DGS2
7 BAMLHYH0A0HYM2TRIV
8 BAMLH0A0HYM2
9 T5YIE
10 MHHNGSP
11 VXXLECLS
12 return
13 direction
14 lag_1
15 lag_2
16 lag_3
17 lag_4
18 lag_5
19 lag_6
20 lag_7
21 lag_8
22 lag_9
23 lag_10
24 lag_11
25 lag_12
26 lag_13
27 lag_14
28 lag_15
29 lag_16
30 lag_17
31 lag_18
32 lag_19
33 lag_20
34 bb_bbm
35 bb_bbh
36 bb_bbl
37 macd
38 macd_diff
39 macd_signal
40 Strategy_SMA
41 1m_future_close
42 1m_close_future_pct
43 2m_future_close
44 2m_close_future_pct
45 3m_future_close
46 3m_close_future_pct
9 13 37
T5YIE
direction
macd